<div class="panel panel-default">
	<div class="panel-heading">
		メッセージ一覧
	</div>
	<div class="panel-body">
		<% @messages.each do |message| %>
		<span class="label label-info"><%= message.name %></span>
		<%= message.body %>
		<br>
		<% end %>
	</div>
</div>

<%= form_for(Message.new) do |f| %>

	名前
	<br>
	<%= f.text_field :name, :size => "100x1"%>
	<br>
	内容
	<br>
	<%= f.text_area :body, :size => "100x3"%>
	<br>
	<%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>